* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: #fafafa;
  color: $black;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}
