@import './variables';

.login{
    width: 700px;
    margin: 100px auto;
    border: 3px solid $light-gray;
    padding: 50px 40px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .2);

    h2{
        text-align: center;
        color: #333;
        margin-bottom: 50px;
        font-size: 20px;
    }
    form{
        input{
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            background: none;

            &:focus{outline: none;}
        }
        button{
            margin-top: 40px;
            background: $primary;
            border: none;
            color: $light-gray;
            width: 100%;
            padding: 10px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .1s;

            &:hover{
                background: $primary-dark;
            }
        }
    }
    
    >button{
        margin-top: 15px;
        margin-bottom: 30px;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border: 1px solid #d8d8d8;
        color: $black;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover{
            border: 1px solid #999;
        }
        .googleIcon{
            font-size: 18px;
            margin-right: 8px;
        }
    }
    p{
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: $gray;
        a{
            text-decoration: underline;
            color: $black;
        }
    }
}